@model ExamenParcial.Models.ViewModel.VentaViewModel

@{
    ViewData["Title"] = "Crear Venta";
}

<h1>Crear Venta</h1>

<h4>Venta</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Venta.ClienteId)

        @Html.ListBox("Venta.ClienteId",
                new SelectList(Model.Clientes, "ClienteId", "Nombre"),
                new { @class = "form-control", size = "1" })

        @Html.ValidationMessageFor(model => model.Venta.ClienteId)
    </div>

    <div class="form-group">
        @Html.Label("Productos")

        @Html.ListBox("productoIds",
                new SelectList(Model.Productos, "ProductoId", "Nombre"),
                new { @class = "form-control", size = "1" })

        @Html.ValidationMessage("productoIds")
    </div>

    <div class="form-group">
        <label>Cantidades (una por producto seleccionado)</label>
        <input type="number" name="cantidades" value="1" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Venta.Total)
        @Html.EditorFor(model => model.Venta.Total, new { htmlAttributes = new { @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.Venta.Total)
    </div>

    <button type="submit" class="btn btn-success">Crear Venta</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
}