@model ExamenParcial.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
}

<h1>Crear Producto</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.EditorFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.EditorFor(model => model.Descripcion)
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Precio)
        @Html.EditorFor(model => model.Precio)
        @Html.ValidationMessageFor(model => model.Precio)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Stock)
        @Html.EditorFor(model => model.Stock)
        @Html.ValidationMessageFor(model => model.Stock)
    </div>

    <button type="submit" class="btn btn-success">Crear Producto</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
}
