@model IEnumerable<ExamenParcial.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Productos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nuevo Producto</a>
</p>

<table class="table table-bordered table-responsive table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a>
                    <a class="btn btn-outline-info" asp-action="Create" asp-route-id="@item.ProductoId">Crear</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProductoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

